dp { color: white; }
h1 {color: white}
h2{color: white}
h3{color: white}
ol {color: white}

container: {background-color: black}

img {  
width: 216px;
height: 338 px; 
}  

basic {
  align: center
}

info {
  padding: 100px;
}

