.container: {background-color: pink}

img {  
width: 216px;
height: 338 px; 
}  

basic {
  background-color: pink;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info {
  padding: 100px;
}
